/**
 * @category    Mana
 * @package     ManaPro_FilterCheckboxes
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/*ol.m-filter-css-checkboxes li a.m-checkbox-unchecked { background: transparent url(../images/manapro_filtercheckboxes/checkbox_unchecked.png) 0 center no-repeat; }
ol.m-filter-css-checkboxes li a.m-checkbox-checked { background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked.png) 0 center no-repeat; }
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked:hover { background: transparent url(../images/manapro_filtercheckboxes/checkbox_unchecked_hover.png) 0 center no-repeat; }
ol.m-filter-css-checkboxes li a.m-checkbox-checked:hover { background: transparent url(../images/manapro_filtercheckboxes/checkbox_checked_hover.png) 0 center no-repeat; }
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked,
ol.m-filter-css-checkboxes li a.m-checkbox-checked { padding-left: 20px !important; text-decoration: none; }*/

.filters .m-checkbox-checked .image-holder:after,
.filters .color .m-checkbox-checked .image-holder:after{
    content: '';
    display: block;
    background: url(../images/branded-search/active-filters.png) 0 0 no-repeat;
    width: 61px;
    height: 61px;
    position: absolute;
    left: 6px;
    top: 1px;
}
.filters .color .m-checkbox-checked .image-holder:after{
    left: 1px;
    top: 0;
    width: 61px;
    height: 61px;
}
#narrow-by-list .custom .m-checkbox-checked .image-holder:after{
    content: '';
    display: none;
}
#narrow-by-list .custom .m-checkbox-unchecked .image-holder{
    display: none;
}
#narrow-by-list .custom .m-checkbox-checked .image-holder{
    display: block;
}
